/* Normalized styles mostly */

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

form {
  margin: 0;
  margin-block-end: 0;
  display: flex;
  gap: 8px;
}

body {
  font: 100% "Google Sans", "Roboto", sans-serif; /* "Google Sans" is in typography */
  line-height: 1.5; /* Not 1.48 because chrome and firefox round slightly differently */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* firefox font smoothing */
}

button, input, textarea {
  font-family: "Google Sans", "Roboto", sans-serif;
}

